# Workshop FOR Loops

In [13]:
import math
import numpy as np
import pandas as pd

In [7]:
# twee lijsten definieren
X = [0, 1, 2, 3, 4] # Hoofdletter wijst op een lijst
Y = [1, 2, 3, 4, 5]

In [8]:
# Define function to compute average with for loop
def average(N):
    total = 0

    for n in N:
        total = total + n
        
    return total / len(N)

In [12]:
# compute the averager of X(avgX)
avgX = average(X)
avgY = average(Y)

display(avgX)
display(avgY)

2.0

3.0

In [20]:
# In de eerste functie neem je het gemiddelde van N over uit de functie waarin je het gemiddelde berekent
def variation1(N, avgN):
    total = 0

    for n in N:
        total += (n - avgN)**2
    
    
    return math.sqrt(total /len(X))

#In de onderstaande functie bereken je het gemiddelde van N binnen de functie - dat is geen probleem met een klein aantal datapunten, maar met miljoen datapunten wordt dat wel belastend.

def variation2(N):
    avgN = average(N)
    total = 0

    for n in N:
        total += (n - avgN)**2
    
    
    return math.sqrt(total /len(X))

In [21]:
# Compute the standard deviation 
#(waarde x - avgX)**2 voor elke x en telkens sommeren 
total = 0

for x in X:
    total += (x - avgX)**2
    
    
sigma = math.sqrt(total /len(X))

display(sigma)

1.4142135623730951

In [24]:
# bereken de standaarddeviaties
stdX =  variation1(X, avgX)
display(stdX)

stdY =  variation2(Y)
display(stdY)

1.4142135623730951

1.4142135623730951

In [32]:
total = 0

for x,y in zip(X,Y):
    total += (x - avgX) * (y - avgY)
display(total/ (len(X) * stdX * stdY))

0.9999999999999998

- Als je ooit een bepaalde schrijfwijze in python wil proberen, doe dat dan en zet op de volgende regel (in de functie) alleen het woord 'pass' en run de cel 
- Hierboven laat je x en y in een keer door 2 lijsten (X en Y) lopen. Dat is mogelijk omdat je beide lijsten ' gezipt'  hebt

In [38]:
# Write pearsonCorrelation as af function
def pearsonCorrelation(N,M):
    avgN = average(N)
    avgM = average(M)
    stdN = variation1(N, avgN)
    stdM = variation1(M, avgM)
    total = 0
    
    for n,m in zip(N,M):
        total += (n - avgN) * (m - avgM)
    
    return total/ (len(N) * stdN * stdM)

In [39]:
display(pearsonCorrelation(X,Y))

0.9999999999999998

In [40]:
# Let's use the dataset of project 1
lsd = pd.read_csv('data-project-1-cleaned.csv')

In [41]:
lsd.corr()

,genetic,length,mass,exercise,smoking,alcohol,sugar,lifespan
genetic,1.000000,-0.029606,0.000513,-0.035005,-0.015490,-0.013170,0.018785,0.949799
length,-0.029606,1.000000,0.000106,0.011401,-0.020691,-0.007162,0.007860,0.013155
mass,0.000513,0.000106,1.000000,0.008204,-0.009541,0.000726,0.005601,-0.066040
exercise,-0.035005,0.011401,0.008204,1.000000,0.021512,-0.024521,-0.008328,0.082986
smoking,-0.015490,-0.020691,-0.009541,0.021512,1.000000,-0.012298,0.008925,-0.246140
alcohol,-0.013170,-0.007162,0.000726,-0.024521,-0.012298,1.000000,0.003860,-0.063539
sugar,0.018785,0.007860,0.005601,-0.008328,0.008925,0.003860,1.000000,-0.010887
lifespan,0.949799,0.013155,-0.066040,0.082986,-0.246140,-0.063539,-0.010887,1.000000

In [43]:
# Let's check
display(pearsonCorrelation(lsd['genetic'], lsd['lifespan']))

0.0011628292780951578

In [44]:
# Let's double check
display(np.corrcoef(lsd['genetic'],lsd['lifespan']))

array([[1.        , 0.94979895],
       [0.94979895, 1.        ]])