<a href="https://it-omscholing.nl/locaties/hogeschool-rotterdam/">
<div>
<a><img src='../pics/banner.PNG'/></a>
</div>
<div>
<a href=''><img src='../pics/miw.PNG'/></a>
<em>Author: Jeroen Boogaard</em>
</div>
</a>

<h1>Samengestelde variabelen - lists</h1>

<h3>List variabelen aanmaken en afdrukken</h3>

**Gebruik teksthaken [] voor het aanmaken van een list variabele**

In [1]:
neptuneInnerMoons = ["Naiad", "Thalassa", "Despina", "Galatea", "Proteus", "Hippocamp", "Larissa"]
neptuneOutermoons = ["Triton", "Halimede", "Sao", "Psamathe", "Laomedeia", "Neso", "Nereid"]
len(neptuneOutermoons)

7

<h3>Exercise 9</h3>
<p>Schrijf een statement om te bewijzen dat Neptunus evenveel binnen- als buitenmanen heeft</p>

In [2]:
# Oplossing
len(neptuneInnerMoons) == len(neptuneOutermoons)

True

**Gebruik index 0 voor het verkrijgen van het eerste element**

In [3]:
print("%s is the largest moon of Neptune." %(neptuneOutermoons[0]))

Triton is the largest moon of Neptune.

**Met <i>sort()</i> wordt de volgorde van de elementen in een list <u>blijvend veranderd</u>.**

In [4]:
neptuneOutermoons.sort()
print("%s is the largest moon of Neptune." %(neptuneOutermoons[0]))

Halimede is the largest moon of Neptune.

**Gebruik de functie len() voor het verkrijgen van het aantal elementen in een list**

In [5]:
print(f"Neptune is the farthest planet of our solar system and it has { len(neptuneInnerMoons) + len(neptuneOutermoons) } known moons.")

Neptune is the farthest planet of our solar system and it has 14 known moons.

<h3>Elementen toevoegen</h3>

In [6]:
neptuneMoons = []

for neptuneOuterMoon in neptuneOutermoons:
    neptuneMoons.append(neptuneOuterMoon)
    
for neptuneInnerMoon in neptuneInnerMoons:
    neptuneMoons.append(neptuneInnerMoon)

neptuneMoons.sort()    
    
print(neptuneMoons)

['Despina', 'Galatea', 'Halimede', 'Hippocamp', 'Laomedeia', 'Larissa', 'Naiad', 'Nereid', 'Neso', 'Proteus', 'Psamathe', 'Sao', 'Thalassa', 'Triton']

In [8]:
print(len(neptuneMoons))

14

<h3>Elementen verwijderen</h3>

In [9]:
neptuneMoons.remove('Naiad')
print(neptuneMoons)

['Despina', 'Galatea', 'Halimede', 'Hippocamp', 'Laomedeia', 'Larissa', 'Nereid', 'Neso', 'Proteus', 'Psamathe', 'Sao', 'Thalassa', 'Triton']

In [10]:
print(len(neptuneMoons))

13

**Gebruik <i>pop()</i> om het laaste element <u>uit</u> de lijst te halen**

In [23]:
firstNeptuneMoon = neptuneMoons.pop()
print(f"Popped {firstNeptuneMoon} from neptuneMoons")
print(f"{neptuneMoons}")

Popped Thalassa from neptuneMoons
['Despina', 'Galatea', 'Halimede', 'Hippocamp', 'Laomedeia', 'Larissa', 'Nereid', 'Neso', 'Proteus', 'Psamathe', 'Sao']

<h3>Excercise 10</h3>
<p>Maak een nieuwe lijst <i>lowerMoons</i> met alle <u>neptuneMoons</u> in <u>lowercase</u>.

In [16]:
lowerMoons = []
for moon in neptuneMoons:
    moon = moon.lower()
    lowerMoons.append(moon)
print(lowerMoons)

['despina', 'galatea', 'halimede', 'hippocamp', 'laomedeia', 'larissa', 'nereid', 'neso', 'proteus', 'psamathe', 'sao', 'thalassa']

<h3>Map en join</h3>

In [19]:
# MAP:
# https://www.w3schools.com/python/ref_func_map.asp
# The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.
# syntax: map(function, iterables) 

# LAMBDA:
# https://www.w3schools.com/python/python_lambda.asp
# A lambda function is a small anonymous function.
# A lambda function can take any number of arguments, but can only have one expression.
# Syntax =   lambda arguments : expression


iterator = map(lambda moon: moon.upper(), neptuneInnerMoons)
print(list(iterator))

['NAIAD', 'THALASSA', 'DESPINA', 'GALATEA', 'PROTEUS', 'HIPPOCAMP', 'LARISSA']

In [18]:
# JOIN:
# String join() Method
# https://www.w3schools.com/python/ref_string_join.asp
# The join() method takes all items in an iterable and joins them into one string.
# Syntax: string.join(iterable) 

neptuneInnerMoonsStr = ", ".join(map(str,sorted(neptuneInnerMoons))) 
print( f"In order of increasing distance, the list of { len(neptuneInnerMoons) } regular Neptune moons is {neptuneInnerMoonsStr}." )

In order of increasing distance, the list of 7 regular Neptune moons is Despina, Galatea, Hippocamp, Larissa, Naiad, Proteus, Thalassa.

In [22]:
print(neptuneInnerMoonsStr)

Despina, Galatea, Hippocamp, Larissa, Naiad, Proteus, Thalassa